<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"/>
    <title>Image Header Template for Bootstrap</title>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./dist/css/header.css" rel="stylesheet"/>
</head>
<body class="body-top">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="header-top">
        <div class="container">
            <h1 class="header-text">Печатные формы</h1>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Выберите пример печатной формы</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/mainpage}"><span class="glyphicon"></span>Платежное поручение</a></li>
                <li><a th:href="@{/invoicepage}"><span class="glyphicon"></span>Счет на оплату</a></li>
                <li class="active"><a th:href="@{/chartspage}"><span class="glyphicon"></span>Документ с графиками</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <H1 class="col-md-11 col-md-offset-1">Структура доходов</H1>
                <br/>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>НИР и ОКР</th>
                        <th>Основная продукция</th>
                        <th>Основные услуги</th>
                        <th>Прочие доходы</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Бюджет</td>
                        <td>7500</td>
                        <td>12000</td>
                        <td>35000</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Факт</td>
                        <td>8300</td>
                        <td>11500</td>
                        <td>37000</td>
                        <td>3500</td>
                    </tr>
                    <tr>
                        <td>Отклонение</td>
                        <td>800</td>
                        <td>500</td>
                        <td>2000</td>
                        <td>1100</td>
                    </tr>
                    </tbody>
                </table>
                <br/>

                <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <br/><br/>

                <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                <br/>

                <form class="form-horizontal" role="form" action="/charts" method="post" target="_blank">
                    <div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Сформировать PDF</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--<div class="jumbotron">
        <h1>Bootstrap header template</h1>
        <p class="lead">Use this document as a way to quickly start any new project with a beautiful image header.<br/> All you get is this text, a navbar, a header, and a mostly barebones HTML document.</p>
    </div>-->
<!--    <div class="jumbotron">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
    </div>-->
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="./js/jquery-3.2.1.min.js" type="application/javascript"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="./dist/js/bootstrap.min.js"></script>
<script src="./js/custom.js" type="application/javascript"></script>
<script src="./js/jquery.maskedinput.js" type="application/javascript"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Фактическая структура себестоимости'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Статья',
            data: [
                { name: 'Прочие доходы', y: 3500 },
                {
                    name: ' НИР и ОКР',
                    y: 8300,
                    sliced: true,
                    selected: true
                },
                { name: 'Основная продукция', y: 11500 },
                { name: 'Основные услуги', y: 37000 }
            ]
        }]
    });


    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Анализ доходов'
        },
        subtitle: {
            text: 'Источник: внутренне исследование'
        },
        xAxis: {
            categories: [
                'НИР и ОКР',
                'Основная продукция',
                'Основные услуги',
                'Прочие доходы'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Десятки тысяч'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Бюджет',
            data: [7500, 12000, 35000, 1200]

        }, {
            name: 'Факт',
            data: [8300, 11500, 37000, 3500]

        }, {
            name: 'Отклонение',
            data: [800, 500, 2000, 1100]

        }]
    });
</script>
</body>
</html>
