<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"/>
    <title>Image Header Template for Bootstrap</title>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./dist/css/header.css" rel="stylesheet"/>
</head>
<body class="body-top">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="header-top">
        <div class="container">
            <h1 class="header-text">Печатные формы</h1>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Выберите пример печатной формы</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/mainpage}"><span class="glyphicon"></span>Платежное поручение</a></li>
                <li><a th:href="@{/invoicepage}"><span class="glyphicon"></span>Счет на оплату</a></li>
                <li class="active"><a th:href="@{/chartspage}"><span class="glyphicon"></span>Документ с графиками</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div id="container" class="col-md-8 col-md-offset-2" style="min-width: 400px; height: 400px; margin: 0 auto">

            </div>
        </div>

        <form class="form-horizontal" role="form" action="/charts" method="post" target="_blank">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Сформировать PDF</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <!--<div class="jumbotron">
        <h1>Bootstrap header template</h1>
        <p class="lead">Use this document as a way to quickly start any new project with a beautiful image header.<br/> All you get is this text, a navbar, a header, and a mostly barebones HTML document.</p>
    </div>-->
<!--    <div class="jumbotron">
        <div class="row">

            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
    </div>-->
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="./js/jquery-3.2.1.min.js" type="application/javascript"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="./dist/js/bootstrap.min.js"></script>
<script src="./js/custom.js" type="application/javascript"></script>
<script src="./js/jquery.maskedinput.js" type="application/javascript"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Browser market shares. January, 2015 to May, 2015'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Brands',
            data: [
                { name: 'Microsoft Internet Explorer', y: 56.33 },
                {
                    name: 'Chrome',
                    y: 24.03,
                    sliced: true,
                    selected: true
                },
                { name: 'Firefox', y: 10.38 },
                { name: 'Safari', y: 4.77 }, { name: 'Opera', y: 0.91 },
                { name: 'Proprietary or Undetectable', y: 0.2 }
            ]
        }]
    });
</script>
</body>
</html>