<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"/>
    <title>Image Header Template for Bootstrap</title>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./dist/css/header.css" rel="stylesheet"/>
</head>
<body class="body-top">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="header-top">
        <div class="container">
            <h1 class="header-text">Печатные формы</h1>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Выберите пример печатной формы</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/mainpage}"><span class="glyphicon"></span>Платежное поручение</a></li>
                <li class="active"><a th:href="@{/invoicepage}"><span class="glyphicon"></span>Счет на оплату</a></li>
                <li><a href="#contact"><span class="glyphicon"></span>Документ с графиками</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <!--<div class="jumbotron">
        <h1>Bootstrap header template</h1>
        <p class="lead">Use this document as a way to quickly start any new project with a beautiful image header.<br/> All you get is this text, a navbar, a header, and a mostly barebones HTML document.</p>
    </div>-->
    <div class="jumbotron">
        <div class="row">
            <!--<div class="col-md-4 col-md-offset-4">-->
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" role="form" action="#" th:action="@{/invoice}" th:object="${invoice}" method="post" >
                    <!--<form class="form-horizontal" role="form"  action="/order" method="post" modelAttribute="dtoOrder">-->
                    <fieldset>

                        <!-- Form Name -->
                        <H3>Общая информация</H3>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Номер:</label>
                            <div class="col-md-9">
                                <input type="text" id="documentNumber" placeholder="Номер счета" class="form-control" th:field="*{documentNumber}"  />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">ИНН:</label>
                            <div class="col-md-4">
                                <input type="text" id="numberINN" placeholder="ИНН" class="form-control" th:field="*{numberINN}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" >КПП:</label>
                            <div class="col-md-4">
                                <input type="text" id="numberKPP" placeholder="КПП" class="form-control" th:field="*{numberKPP}" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Получатель средств:</label>
                            <div class="col-md-9">
                            <textarea class="form-control" id="recipientName" name="message" placeholder="Наименование получателя"
                                      rows="3" th:field="*{recipientName}" ></textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Банк получателя:</label>
                            <div class="col-md-9">
                            <textarea class="form-control" id="recipientNameBank" name="message" placeholder="Наименование банка получателя"
                                      rows="3" th:field="*{recipientNameBank}" ></textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">БИК:</label>
                            <div class="col-md-9">
                                <input type="text" placeholder="БИК" id="recipientBIKBank" class="form-control" th:field="*{recipientBIKBank}"/>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Сч. №:</label>
                            <div class="col-md-9">
                                <input type="text" id="recipientBankAccount" class="form-control" th:field="*{recipientBankAccount}" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Сч. № (2):</label>
                            <div class="col-md-9">
                                <input type="text" id="recipientBankAccount2" class="form-control" th:field="*{recipientBankAccount2}" />
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Поставщик:</label>
                            <div class="col-md-9">
                            <textarea class="form-control" id="providerName" name="message" placeholder="Поставщик описание"
                                      rows="3" th:field="*{providerName}" ></textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Покупатель:</label>
                            <div class="col-md-9">
                            <textarea class="form-control" id="buyerName" name="message" placeholder="Покупатель описание"
                                      rows="3" th:field="*{buyerName}" ></textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Директор:</label>
                            <div class="col-md-9">
                                <input type="text" id="directorName" class="form-control" th:field="*{directorName}" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Бухгалтер:</label>
                            <div class="col-md-9">
                                <input type="text" id="accounterName" class="form-control" th:field="*{accounterName}" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Всего наименований:</label>
                            <div class="col-md-9">
                                <input type="text" id="countPosition" class="form-control" th:field="*{countPosition}" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Сумма с НДС:</label>
                            <div class="col-md-9">
                                <input type="text" id="totalSumNDS" class="form-control" th:field="*{totalSumNDS}" />
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Общая сумма:</label>
                            <div class="col-md-9">
                                <input type="text" id="totalSum" class="form-control" th:field="*{totalSum}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="pull-right">
                                    <a href="#" id="fillTestDataInvoice" class="btn  btn-primary">Заполнить  тестовыми  данными</a>
                                    <button type="submit" class="btn btn-primary">Получить PDF</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./dist/js/bootstrap.min.js"></script>
<script src="./js/jquery-3.2.1.min.js" type="application/javascript"></script>
<script src="./js/custom.js" type="application/javascript"></script>
<!--<script src="./js/jquery.mask.js" type="application/javascript"></script>-->
<script src="./js/jquery.maskedinput.js" type="application/javascript"></script>
</body>
</html>
