<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico"/>
    <title>Image Header Template for Bootstrap</title>
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./dist/css/header.css" rel="stylesheet"/>
</head>
<body class="body-top">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="header-top">
        <div class="container">
            <h1 class="header-text">Печатные формы</h1>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Выберите пример печатной формы</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/mainpage}"><span class="glyphicon"></span>Платежное поручение</a></li>
                <li><a th:href="@{/invoicepage}"><span class="glyphicon"></span>Счет на оплату</a></li>
                <li><a th:href="@{/chartspage}"><span class="glyphicon"></span>Документ с графиками</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <!--<div class="jumbotron">
        <h1>Bootstrap header template</h1>
        <p class="lead">Use this document as a way to quickly start any new project with a beautiful image header.<br/> All you get is this text, a navbar, a header, and a mostly barebones HTML document.</p>
    </div>-->
    <div class="jumbotron">
    <div class="row">
        <!--<div class="col-md-4 col-md-offset-4">-->
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" role="form" action="#" th:action="@{/order}" th:object="${order}" method="post" >
            <!--<form class="form-horizontal" role="form"  action="/order" method="post" modelAttribute="dtoOrder">-->
                <fieldset>

                    <!-- Form Name -->
                    <H3>Общая информация</H3>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Номер:</label>
                        <div class="col-md-9">
                            <input type="text" id="paymentOrderNum" placeholder="Номер поручения" class="form-control" th:field="*{paymentOrderNum}"  />
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Сумма:</label>
                        <div class="col-md-9">
                            <input type="text" id="payerSumQuant" placeholder="Сумма цифрами" class="form-control" th:field="*{payerSumQuant}"  />
                        </div>
                    </div>

                    <br />
                    <!-- Form Name -->
                    <H3>Реквизиты плательщика</H3>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">ИНН:</label>
                        <div class="col-md-4">
                            <input type="text" id="payerINN" placeholder="ИНН" class="form-control" th:field="*{payerINN}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" >КПП:</label>
                        <div class="col-md-4">
                            <input type="text" id="payerKPP" placeholder="КПП" class="form-control" th:field="*{payerKPP}" />
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Плательщик:</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="payerCompanyName" name="message" placeholder="Наименование плательщика"
                                      rows="3" th:field="*{payerCompanyName}" ></textarea>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Сч. №:</label>
                        <div class="col-md-9">
                            <input type="text" id="payerAccount" class="form-control" th:field="*{payerAccount}"/>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Банк плательщика:</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="payerBankName" name="message" placeholder="Реквизиты банка получателя"
                                      rows="3" th:field="*{payerBankName}" ></textarea>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">БИК:</label>
                        <div class="col-md-9">
                            <input type="text" placeholder="БИК" id="payerBankBIK" class="form-control" th:field="*{payerBankBIK}"/>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Сч. №:</label>
                        <div class="col-md-9">
                            <input type="text" id="payerBankAccount" class="form-control" th:field="*{payerBankAccount}" />
                        </div>
                    </div>

                    <br/>
                    <!-- Form Name -->
                    <H3>Реквизиты получателя</H3>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">ИНН:</label>
                        <div class="col-md-4">
                            <input type="text" id="recipientINN" placeholder="ИНН" class="form-control" th:field="*{recipientINN}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">КПП:</label>
                        <div class="col-md-4">
                            <input type="text" id="recipientKPP" placeholder="КПП" class="form-control" th:field="*{recipientKPP}"/>
                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Плательщик:</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="recipientCompanyName" name="message" placeholder="Наименование плательщика"
                                      rows="3" th:field="*{recipientCompanyName}"></textarea>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Сч. №:</label>
                        <div class="col-md-9">
                            <input type="text" id="recipientBankAccount" class="form-control" th:field="*{recipientBankAccount}"/>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Банк плательщика:</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="recipientBankName" name="message" placeholder="Реквизиты банка получателя"
                                      rows="3" th:field="*{recipientBankName}"></textarea>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">БИК:</label>
                        <div class="col-md-9">
                            <input type="text" id="recipientBankBIK" placeholder="БИК" class="form-control" th:field="*{recipientBankBIK}"/>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Сч. №:</label>
                        <div class="col-sm-9">
                            <input type="text" id="recipientAccount" class="form-control" th:field="*{recipientAccount}"/>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Назначение платежа:</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="paymentOrderPurpose" name="message" placeholder="Назначение платежа"
                                      rows="3" th:field="*{paymentOrderPurpose}"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="pull-right">
                                <a href="#a" id="fillTestDataOrder" class="btn  btn-primary">Заполнить  тестовыми  данными</a>
                                <button type="submit" class="btn btn-primary">Получить PDF</button>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./dist/js/bootstrap.min.js"></script>
<script src="./js/jquery-3.2.1.min.js" type="application/javascript"></script>
<script src="./js/custom.js" type="application/javascript"></script>
<!--<script src="./js/jquery.mask.js" type="application/javascript"></script>-->
<script src="./js/jquery.maskedinput.js" type="application/javascript"></script>
</body>
</html>